html, body, #root, .container{
	height: 100%;
  width: 100%;
  font-size: 20px;
}
html,body,p,ul,h1,h2,h3,h4,h5,h6,dl,dt,dd{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
body{
	user-select: none;
	box-sizing: border-box;
  font-family: "微软雅黑","Times New Roman",Georgia,Serif;
  color: #fff;
}
li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
    color: #fff;
}
.overflow-hidden{
  overflow: hidden;
}
.container{
  height: 100%;
  width: 100%;
}

//轻浮动
.clear-fix:after{
    content: "";
    display:block;
    clear: both;
    height: 0;
}
.clear-fix{
    zoom: 1;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}

// 提示颜色
.danger{
  background-color: #c9302c;
  border-color: #ac2925;
}
.warning{
  background-color: #f0ad4e;
  border-color: #eea236;
}
.info{
  background-color: #5bc0de;
  border-color: #46b8da;
}
.success{
  background-color: #5cb85c;
  border-color: #4cae4c;
}

header, footer {
  display: flex;
  height: 56px;
  background: #000;
}

// 时间
.clock-box{
  background: none;
  .clock{
    display: flex;
    div:nth-child(1){
      margin-right: 10px;
    }
  }
}

// iscroll 块滑动样式
.scroll-wrap{
  height: 100%;
  background: #5B9BD5;
  .iscroll{
    display: flex;
    align-items: center;
    overflow: hidden;
    .scroll-inner-box{
      display: flex;
      height: calc(~"100% - 20px");
    }
    .scroll-item{
      margin: 0 10px;
      width: 240px;
      border-radius: 5px;

    }
    .child-scroll-wrap{
      padding: 3px;
      height: 100%;
      border-radius: 5px;
      border: 3px solid transparent;
    }
    // .child-scroll-inner-box{
    //   height: auto;
    // }
  }
}

// 栅格
.grid-container{
  width: 100%;
  [class*='col-'] {
    box-sizing: border-box;
  }
  .row{
    margin-right: 0; margin-left: 0;
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{position: relative; min-height: 1px;}
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{float: left;}
    .col-xs-12{width: 100%;}
    .col-xs-11{width: 91.66666667%;}
    .col-xs-10{width: 83.33333333%;}
    .col-xs-9{width: 75%;}
    .col-xs-8{width: 66.66666667%;}
    .col-xs-7{width: 58.33333333%;}
    .col-xs-6{width: 50%;}
    .col-xs-5{width: 41.66666667%;}
    .col-xs-4{width: 33.33333333%;}
    .col-xs-3{width: 25%;}
    .col-xs-2{width: 16.66666667%;}
    .col-xs-1{width: 8.33333333%;}
    .col-xs-offset-12{margin-left: 100%;}
    .col-xs-offset-11{margin-left: 91.66666667%;}
    .col-xs-offset-10{margin-left: 83.33333333%;}
    .col-xs-offset-9{margin-left: 75%;}
    .col-xs-offset-8{margin-left: 66.66666667%;}
    .col-xs-offset-7{margin-left: 58.33333333%;}
    .col-xs-offset-6{margin-left: 50%;}
    .col-xs-offset-5{margin-left: 41.66666667%;}
    .col-xs-offset-4{margin-left: 33.33333333%;}
    .col-xs-offset-3{margin-left: 25%;}
    .col-xs-offset-2{margin-left: 16.66666667%;}
    .col-xs-offset-1{margin-left: 8.33333333%;}
    .col-xs-offset-0{margin-left: 0;}
  }
}
@media (min-width: 768px){
  .grid-container{
    .row{
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{float: left;}
      .col-sm-12{width: 100%;} .col-sm-11{width: 91.66666667%;} .col-sm-10{width: 83.33333333%;}
      .col-sm-9{width: 75%;} .col-sm-8{width: 66.66666667%;} .col-sm-7{width: 58.33333333%;}
      .col-sm-6{width: 50%;} .col-sm-5{width: 41.66666667%;} .col-sm-4{width: 33.33333333%;}
      .col-sm-3{width: 25%;} .col-sm-2{width: 16.66666667%;} .col-sm-1{width: 8.33333333%;}
      .col-sm-pull-12{right: 100%;} .col-sm-pull-11{right: 91.66666667%;} .col-sm-pull-10{right: 83.33333333%;}
      .col-sm-pull-9{right: 75%;} .col-sm-pull-8{right: 66.66666667%;} .col-sm-pull-7{right: 58.33333333%;}
      .col-sm-pull-6{right: 50%;} .col-sm-pull-5{right: 41.66666667%;} .col-sm-pull-4{right: 33.33333333%;}
      .col-sm-pull-3{right: 25%;} .col-sm-pull-2{right: 16.66666667%;} .col-sm-pull-1{right: 8.33333333%;} .col-sm-pull-0{right: auto;}
      .col-sm-offset-12{margin-left: 100%;} .col-sm-offset-11{margin-left: 91.66666667%;} .col-sm-offset-10{margin-left: 83.33333333%;}
      .col-sm-offset-9{margin-left: 75%;} .col-sm-offset-8{margin-left: 66.66666667%;} .col-sm-offset-7{margin-left: 58.33333333%;}
      .col-sm-offset-6{margin-left: 50%;} .col-sm-offset-5{margin-left: 41.66666667%;} .col-sm-offset-4{margin-left: 33.33333333%;}
      .col-sm-offset-3{margin-left: 25%;} .col-sm-offset-2{margin-left: 16.66666667%;} .col-sm-offset-1{margin-left: 8.33333333%;} .col-sm-offset-0{margin-left: 0;}
    }
  }
}
@media (min-width: 992px){
  .grid-container{
    .row{
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float: left;}
      .col-md-12{width: 100%;} .col-md-11{width: 91.66666667%;} .col-md-10{width: 83.33333333%;}
      .col-md-9{width: 75%;} .col-md-8{width: 66.66666667%;} .col-md-7{width: 58.33333333%;}
      .col-md-6{width: 50%;} .col-md-5{width: 41.66666667%;} .col-md-4{width: 33.33333333%;}
      .col-md-3{width: 25%;} .col-md-2{width: 16.66666667%;} .col-md-1{width: 8.33333333%;}
      .col-md-pull-12{right: 100%;} .col-md-pull-11{right: 91.66666667%;} .col-md-pull-10{right: 83.33333333%;}
      .col-md-pull-9{right: 75%;} .col-md-pull-8{right: 66.66666667%;} .col-md-pull-7{right: 58.33333333%;}
      .col-md-pull-6{right: 50%;} .col-md-pull-5{right: 41.66666667%;} .col-md-pull-4{right: 33.33333333%;}
      .col-md-pull-3{right: 25%;} .col-md-pull-2{right: 16.66666667%;} .col-md-pull-1{right: 8.33333333%;} .col-md-pull-0{right: auto;}
      .col-md-offset-12{margin-left: 100%;} .col-md-offset-11{margin-left: 91.66666667%;} .col-md-offset-10{margin-left: 83.33333333%;}
      .col-md-offset-9{margin-left: 75%;} .col-md-offset-8{margin-left: 66.66666667%;} .col-md-offset-7{margin-left: 58.33333333%;}
      .col-md-offset-6{margin-left: 50%;} .col-md-offset-5{margin-left: 41.66666667%;} .col-md-offset-4{margin-left: 33.33333333%;}
      .col-md-offset-3{margin-left: 25%;} .col-md-offset-2{margin-left: 16.66666667%;} .col-md-offset-1{margin-left: 8.33333333%;} .col-md-offset-0{margin-left: 0;}
    }
  }
}
@media (min-width: 1200px){
  .grid-container{
    .row{
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{float: left;}
      .col-lg-12{width: 100%;} .col-lg-11{width: 91.66666667%;} .col-lg-10{width: 83.33333333%;}
      .col-lg-9{width: 75%;} .col-lg-8{width: 66.66666667%;} .col-lg-7{width: 58.33333333%;}
      .col-lg-6{width: 50%;} .col-lg-5{width: 41.66666667%;} .col-lg-4{width: 33.33333333%;}
      .col-lg-3{width: 25%;} .col-lg-2{width: 16.66666667%;} .col-lg-1{width: 8.33333333%;}
      .col-lg-pull-12{right: 100%;} .col-lg-pull-11{right: 91.66666667%;} .col-lg-pull-10{right: 83.33333333%;}
      .col-lg-pull-9{right: 75%;} .col-lg-pull-8{right: 66.66666667%;} .col-lg-pull-7{right: 58.33333333%;}
      .col-lg-pull-6{right: 50%;} .col-lg-pull-5{right: 41.66666667%;} .col-lg-pull-4{right: 33.33333333%;}
      .col-lg-pull-3{right: 25%;} .col-lg-pull-2{right: 16.66666667%;} .col-lg-pull-1{right: 8.33333333%;} .col-lg-pull-0{right: auto;}
      .col-lg-offset-12{margin-left: 100%;} .col-lg-offset-11{margin-left: 91.66666667%;} .col-lg-offset-10{margin-left: 83.33333333%;}
      .col-lg-offset-9{margin-left: 75%;} .col-lg-offset-8{margin-left: 66.66666667%;} .col-lg-offset-7{margin-left: 58.33333333%;}
      .col-lg-offset-6{margin-left: 50%;} .col-lg-offset-5{margin-left: 41.66666667%;} .col-lg-offset-4{margin-left: 33.33333333%;}
      .col-lg-offset-3{margin-left: 25%;} .col-lg-offset-2{margin-left: 16.66666667%;} .col-lg-offset-1{margin-left: 8.33333333%;} .col-lg-offset-0{margin-left: 0;}
    }
  }
}
@media (min-width: 1336px){
  .grid-container{
    .row{
      .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12{float: left;}
      .col-xl-12{width: 100%;} .col-xl-11{width: 91.66666667%;} .col-xl-10{width: 83.33333333%;}
      .col-xl-9{width: 75%;} .col-xl-8{width: 66.66666667%;} .col-xl-7{width: 58.33333333%;}
      .col-xl-6{width: 50%;} .col-xl-5{width: 41.66666667%;} .col-xl-4{width: 33.33333333%;}
      .col-xl-3{width: 25%;} .col-xl-2{width: 16.66666667%;} .col-xl-1{width: 8.33333333%;}
      .col-xl-pull-12{right: 100%;} .col-xl-pull-11{right: 91.66666667%;} .col-xl-pull-10{right: 83.33333333%;}
      .col-xl-pull-9{right: 75%;} .col-xl-pull-8{right: 66.66666667%;} .col-xl-pull-7{right: 58.33333333%;}
      .col-xl-pull-6{right: 50%;} .col-xl-pull-5{right: 41.66666667%;} .col-xl-pull-4{right: 33.33333333%;}
      .col-xl-pull-3{right: 25%;} .col-xl-pull-2{right: 16.66666667%;} .col-xl-pull-1{right: 8.33333333%;} .col-xl-pull-0{right: auto;}
      .col-xl-offset-12{margin-left: 100%;} .col-xl-offset-11{margin-left: 91.66666667%;} .col-xl-offset-10{margin-left: 83.33333333%;}
      .col-xl-offset-9{margin-left: 75%;} .col-xl-offset-8{margin-left: 66.66666667%;} .col-xl-offset-7{margin-left: 58.33333333%;}
      .col-xl-offset-6{margin-left: 50%;} .col-xl-offset-5{margin-left: 41.66666667%;} .col-xl-offset-4{margin-left: 33.33333333%;}
      .col-xl-offset-3{margin-left: 25%;} .col-xl-offset-2{margin-left: 16.66666667%;} .col-xl-offset-1{margin-left: 8.33333333%;} .col-xl-offset-0{margin-left: 0;}
    }
  }
}

//自定义滚动条  webkit
// #scroll {
//     // width:200px;
//     // height:200px;
//     overflow:auto;
// }
// #scroll div {
//     // width:400px;
//     // height:400px;
// }
// #scroll::-webkit-scrollbar {
//     width:8px;
//     height:8px;
// }
// #scroll::-webkit-scrollbar-button    {
//     background-color:#c8c8c8;
// }
// #scroll::-webkit-scrollbar-track     {
//     background:#c8c8c8;
// }
// #scroll::-webkit-scrollbar-track-piece {
//     // background:url(http://www.lyblog.net/wp/wp-content/themes/mine/img/stripes_tiny_08.png);
// }
// #scroll::-webkit-scrollbar-thumb{
//     background:#eee;
//     border-radius:34px;
// }
// #scroll::-webkit-scrollbar-corner {
//     background:#c8c8c8;
// }
// #scroll::-webkit-scrollbar-resizer  {
//     background:#c8c8c8;
// }
