.container{
  display: flex;
  flex-direction: column;
  header{
    background: #000;
  }
}
#home{
  .main{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #000;
  }
  header{
    padding-left: 94px;
  }
  .child-scroll-inner-box{
    &>div:nth-child(1){
      dt{
        display: flex;
        justify-content:  space-between;
      }
      dd{
        margin-left: 5px;
        font-size: 16px;
        button{
          margin-top: 10px;
          padding: 2px 10px;
          background: #5B9BD5;
          border: 1px solid #5B9BD5;
          border-radius: 3px;
          font-size: 20px;
          color: #fff;
        }
      }
    }
    &>div:nth-child(2){
      margin-top: 10px;
    }
    &>div:nth-child(3){
      margin: 10px 0;
      dl{
        margin-left: 8px;
        dt, dd{
          font-size: 16px;
        }
        dd{
          padding-left: 10px;
        }
      }
    }
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    background: #333;
  }
  .wait-make{
    flex: 1;
    display: flex;
    margin-bottom: 14px;
  }
  .making{
    flex: 2;
    display: flex;
  }
}
