#pass-dish-order{
  .navbar{
    padding: 0 5px;
    height: 100px;
    .scroll-item{
      width: 100px;
      margin: 0 5px;
      width: 100px;
    }
    .child-scroll-inner-box{
      display: flex;
      justify-content: center;
      height: 100%;
      &>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
