.switch {
  position: relative;
  width: 54px;
  height: 26px;
  background: #fff;
  border-radius: 6px;
  .off, .on{
    position: absolute;
    top: 0;
    width: 26px;
    height: 26px;
    border-radius: 6px;
  }
  .off{
    background: red;
  }
  .on{
    background: blue;
  }
}
