#pass-dish{
  header{
    min-height: 56px;
  }
  display: flex;
  .main{
    flex: 1;
    overflow: hidden;
    background: #5B9BD5;
  }
  .iscroll{
    display: block;
  }
  .scroll-inner-box{
    // display: flex;
    // flex-wrap: wrap;
    display: block;
    overflow: hidden;
    height: auto;
  }
  .scroll-item-wrap{
    margin: 0 auto;
  }
  .scroll-item{
    margin: 10px;
    padding: 3px;
    height: 280px;
    width: auto;
    border: 3px solid transparent;
    &>div:nth-child(1){
      dt{
        display: flex;
        justify-content:  space-between;
      }
      dd{
        margin-left: 5px;
        font-size: 16px;
      }
    }
    &>div:nth-child(2){
      margin-top: 10px;
    }
    &>div:nth-child(3){
      margin-top: 30px;
      text-align: center;
      font-size: 24px;
      .time{
        line-height: 36px;
        font-size: 16px;
      }
    }
  }
}
