#pass-dish-order{
  display: flex;
  .child-scroll-wrap{
    padding: 0;
    border: none;
  }
  .child-scroll-inner-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
  .order{
    .child-scroll-wrap{
      border-bottom: 3px solid transparent;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
    }
    flex: 1;
    overflow: hidden;
    .item-wrap{
      overflow: hidden;
      .details-wrap{
        height: 100%;
        overflow: hidden;
      }
      .scroll-item{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .child-scroll-inner-box{
        height: auto;
        padding: 0;
        border: none;
      }
    }
  }
  .navbar{
    background: #000;
  }
}
