.tools{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.toolBar{
  display: flex;
  justify-content:center;
  height: 32px;
  li{
    display: flex;
    align-items: center;
    margin: 0 6px;
    padding: 0 26px;
    background: #5B9BD5;
    border-radius: 3px;
  }
  .clock-box{
    background: none;
  }
}
