#pass-dish-order{
  .item-wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    width: 240px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .scroll-item{
      margin: 0;
      height: 100%;
      width: auto;
    }
  }
  .title{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 5px;
    // font-size: 18px;
    &>div:nth-child(1){
    }
    .order-type{
      position: absolute;
      top: 0px;
      right: 5px;
    }
  }
  .details-wrap{
    flex: 1;
  }
  .details{
    dl{
      padding: 8px 0 12px;
      border-bottom: 1px solid #000;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }
    dd{
      margin-left: 5px;
      font-size: 16px;
    }
  }
  .child-scroll-inner-box{
    padding: 0 3px;
    border: 3px solid transparent;
    border-top: none;
  }
}
