#setting{
  background: #000;
  color: #fff;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    a{
      padding: 0 26px;
      height: 32px;
      line-height: 32px;
      border-radius: 5px;
      background: #5B9BD5;
    }
  }
  .setting-list{
    display: flex;
    padding: 0 20px 0 10px;
  }
  .setting-item{
    display: flex;
    align-items: center;
    margin: 10px 70px 0 10px;
    .text{
      margin-right: 10px;
      width: 80px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: #333;
      font-size: 18px;
    }
  }
}
