footer{
  display: flex;
  align-items: center;
  padding-left: 94px;
  background: #000;
  color: #fff;
  ul{
    display: flex;
    justify-content:center;
    height: 32px;
    li{
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 8px;
      padding: 0 26px;
      background: #5B9BD5;
      border-radius: 3px;
      .badge:after{
        content: '23';
        position: absolute;
        top: -6px;
        right: -6px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        background: red;
        border-radius: 50%;

      }
    }
  }
}
